*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  width: 100%;
  min-height: 100%;
  color: white;
  background: linear-gradient(-45deg ,rgb(141, 63, 141),rgb(58, 58, 145),rgb(143, 70, 70));
}
#root{
  width: 100%;
  height: 100%;
}
nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
nav ul li{
  border-radius: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(95, 95, 95, 0.493);
}
.form_main_box{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
form{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  background-color: rgba(95, 95, 95, 0.493);
}
form input{
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px black;
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
}
.input_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.button_box{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.button_box button{
  width: 80%;
  height: 50px;
  font-size: 20px;
  background: linear-gradient(to right,rgb(170, 12, 170),rgb(28, 28, 160),rgb(146, 26, 26));
  color: white;
  border: 1px solid white;
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:active{
  transform: scale(0.95);
}
h1{
  font-size: 35px;
  font-weight: 300;
  margin: 10px;
}
.student_list_box{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
table{
  border: 1px solid black;
  margin-top: 20px;
}
th,td{
    border: 1px solid black;
    text-align: center;
}
th{
  font-size: 20px;
  padding: 10px;
}
td{
  font-size: 20px;
}
.delete{
  background-color: red;
  color: white;
  margin: 5px;
  padding-inline: 30px;
}
.update{
  background-color: rgb(109, 69, 16);
  color: white;
  margin: 5px;
  padding-inline: 30px;
}
.ranking_main_box{
  width: 100%;
}
.ranking_main_box table{
  border: 1px solid black;
  width: 100%;
}
.td{
  padding: 10px;
}